html {
    font-family: sans-serif;
    font-size: 14px;
}

.ui-panel {
	position: fixed;
    background-color: #3d3d3d;
    color: #eeeeee;
    text-align: right;
    padding: 10px;
	max-width: "100vw";
	pointer-events: auto;
}

.ui-panel h2 {
    text-align: left;
}

input[type=number] {
    background-color: #797979;
    color: #eeeeee;
}
