html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overscroll-behavior-y: contain;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}